*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crete Round', serif;
}
body{
    background-color: rgb(136, 235, 7);
    padding: 20px;
    border: 10px groove brown;
}
h3{
    color: brown;
    font-weight: bolder;
}
p,pre{
    color: rgb(116, 9, 9);
    margin: 20px;
}
.container{
    width : 450px;
    margin: 30px auto;
    height: 350px;
    background-color: white;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
}
.container-box{
    width : 450px;
    margin: 30px auto;
    height: 200px;
    background-color: white;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    z-index: -7;

}
.container-box1{
    height: 350px;
    width : 450px;
    margin: 30px auto;
    border-radius: 10px;
    background-color: white;
    padding: 50px;
 }
.container-main-box{
    height: 140px;
    background-color: rgb(199, 228, 95);
    margin: 50px;
    padding: 50px;
}
.container-box2{
    width : 550px;
    margin: 30px auto;
    height: 280px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap:10px;
    text-align: center;
}
.container-box3{
    width : 750px;
    margin: 30px auto;
    height: 230px;
    background-color: white;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    position: relative;

}
.container-main-box1{
    height: 240px;
    width: 250px;
    background-color: rgb(199, 228, 95);
    padding: 5px;
    border: 2px solid black;
    box-sizing: content-box;
}
.container-main-box2{
    height: 240px;
    width: 250px;
    background-color: rgb(199, 228, 95);
    padding: 5px;
    border: 2px solid black;
    box-sizing: border-box;
}
.car{
    position: absolute;
    bottom: 0;
    left: 0;
    top:20%;
    right: 0;
    height: 100px;
    width: 200px;
    animation: moving 4s infinite linear ;
    animation-delay: 4s;
}

@keyframes moving{
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(300px);
    }
    100%{
        transform: translate(550px);
    }
  }
  .grid-container1{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    background-color: yellowgreen;
    padding: 10px;
}
  .grid-box{
    background-color: rgb(224, 245, 181);
    padding: 20px 0;
    height: 50px;
}
.grid-box1{
    background-color: rgb(224, 245, 181);
    padding: 20px 0;

}
.grid-container2{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    background-color: yellowgreen;
    padding: 10px;
}
.box3{
    grid-row: 1/4;
}
.container-box5{
    height: 270px;
    margin: 30px;
    padding: 10px;
    background-color: rgb(184, 228, 95);
    text-align: center;
}
.visible{
    visibility: hidden;
}
.display{
    display: none;
}
.container-box6{
    height: 270px;
    margin: 30px;
    background-color: rgb(184, 228, 95);
    padding: 30px;
    border: 30px solid green;
}
.box6-para{
    border: 1px dashed black;
    background-color: rgb(197, 255, 191);
    text-align: center;
}